*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Verdana;
}
.w3-row-padding img{
  height:300px;

}
/* .contact {
  border: 1px solid #400485;
  
} */
.icon i{
  color:rgb(32, 151, 243);
}