<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
    </head>
    <body>
        <div class="trip_body">
            <div class="myButton">
                <a href="/#portfolio">
                <button class="btn">Back</button>
                </a>
            </div>
            <h1>Trip Tracker</h1>
            <img src="static/image/log2.png" alt="log in/ registration">
            <p>The app starts with creating your account to keep track of your trips. Validation</p>
            <img src="static/image/trip_home1.png" alt="home page">
            <p>The home page will display your itinerary after the trip is created.</p>
            <img src="static/image/create.png" alt="Create">
            <p>The create page allows the user to customize their trip.</p>
            <img src="static/image/trip_menu.png" alt="Home">
            <p>The travel plan is now updated on the home screen where the trip can be removed or edited.</p>
            <img src="static/image/view_trip.png" alt="Home">
            <p>All the details of the trip can be viewed here.</p>
        </div>
    </body>
</html>