*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Verdana;
}

.w3-top, w3-bar-item{
  text-align: center;
}

.body {
  background-color: black;
  height: 100%;
}

.container {
  text-align: center;
}