<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

    </head>
    <body>
        <header>
            <h1> Coding Dojo Wall </h1>
            <h2> Welcome {{ user.first_name }} {{ user.last_name}}</h2>
            <a href="/register">log off</a>

            <h3>Post a message</h3>


            <form action="/comment/{{ post.id }}" method="POST">
                {% csrf_token %}
                <textarea class="form-control" name="comment" id="comment"></textarea>
                            
                <button type="submit">Post a message</button>
                    </form>
                        {% for comment in comments %}
                        
                            <h5>{{ comment.author.first_name }} {{ comment.author.last_name }} - {{ comment.created_at }}</h6>
                            <p>{{ comment.comment }}</p>
                        
    
                        {% endfor %}
        
                    
            </form>

        </header>
    </body>
</html>