<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
    </head>
    <body>
        <h1>Registration</h1>
        <div class="input-field">
        <table>
            <form action="/register" method="post">
                {% csrf_token %}
            
                <label for="first_name"></label>
                <input type="text" placeholder="First Name" name='first_name' id="first_name"><br>
                
                <label for="last_name"></label>
                <input type="text" placeholder="Last Name"name='last_name' id="last_name"><br> 
                
                <label for="email"></label>
                <input type="email" placeholder="Email"name='email' id="email"><br>

                <label for="password"></label>
                <input type="password" placeholder="Password"name='password' id="password"><br>

                <label for="confirm_password"></label>
                <input type="password" placeholder="Confirm Password"name='confirm_password' id="confirm_password"><br>
                <button class="btn btn-block text-center my-3">Register</button>
            </form>       
        </table>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <h1>Login</h1>
            <form action="/login" method="post">
                {% csrf_token %}

                <label for="email"></label>
                <input type="email" placeholder="Email"name='email' id="login_email"><br>

                <label for="password"></label>
                <input type="password" placeholder="Password"name='password' id="login_password"><br>

                <button class="btn btn-block text-center my-3">Log In</button><br>
            </form>
        </div> 
    </body>
</html>