* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Verdana;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #af96b5;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #8b1bc3;
}

h1 {
    text-align: center;
    padding-top: 20px;
}
.add {
    text-align: center;
    padding-top: 20px;
}

.view {
    padding-left: 20px;
}

.edit {
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}

button {
    border-radius: 10px;
    background-color: #330485;
    color: #fff
}
body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #fff 10%, rgba(109, 18, 195, 0.4) 90%) no-repeat;
    text-align: center;
    padding-top: 20px;
}

.input-field {
    border-radius: 3px;
    padding: 5px;
    padding-top:20px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #400485;
    color: #400485
}
.btn.btn-block {
    border-radius: 20px;
    background-color: #400485;
    color: #fff
}
.log {
    margin-left: 20px;
}

.addtrip{
    font-size:200px;
}
@media(max-width: 575px) {
    
}

@media(max-width:424px) {
    
    }