<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="templates/style.css">
        <style> 
        .h1{ 
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
        </style>
    </head>
    <body>
        <h1>Add a book!</h1>
        <table>
            <form action="/process_book" method="post">
                {% csrf_token %}
                <label for="title">Title:</label>
                <input type="text" name='title' id="title">
                <label for="desc">Description</label>
                <input type="text" name='desc' id="desc">
                <button>Add</button>
            </form>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                    {% for book in all_books %}
                        <tr>
                            <td>{{book.id}}</td>
                            <td>{{book.title}}</td>
                            <td><a href="/books/{{book.id}}">View</a></td>
                        
                        </tr>
                    {% endfor %}
                </thead>
        

        </table>
    </body>
</html>