*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-top:50px;
    background-color: rgb(215, 210, 225);
    font-weight:bold;
}
.workout a{
    display: block;
    padding-bottom:20px;
    font-size: 40px;
    text-decoration: none;
    color: rgb(53, 22, 132);
}
/* Shoulder  */
.shoulder_workout, .chest_workout, .tri_workout, .leg_workout, .bi_workout, .abs_workout,.back_workout,.booty_workout{
    padding-top:30px;
    border: 5px solid rgb(47, 19, 118);
    padding-bottom:50px;
    width: 80%;
    margin-left: 10%;
}
.shoulder_workout img, .chest_workout img, .tri_workout img,.leg_workout img,.bi_workout img,.back_workout img,.booty_workout img{
    height:40%;    
    width: 40%;

}
.home_button a{
    font-size: 50px;
    text-decoration: none;
    color: rgb(47, 19, 118);
}
.workout h1{
    font-size:75px;
}
.shoulder_workout h1, .chest_workout h1, .tri_workout h1, .leg_workout h1, .bi_workout h1, .abs_workout h1,.back_workout h1,.booty_workout h1 {
    font-weight: bold;
    font-size: 60px;
}
.exercise {
    border: 5px solid rgb(47, 19, 118);
    width: 30%;
    margin-left:35%;
}
