<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Booty</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="home_button">
            <a href="/">Home</a>
        </div>
        <div class="chest_workout">
            <h1>Chest Press Alternating Arms</h1>
            <h2>3 sets of 10 to 15 reps on each side</h2>
            <h2> lbs</h2>
            <img src="static/image/chest/chestpress.gif" alt="chest press">
            {% comment %} <p>Tip: Lie faceup with your knees bent and feet flat on the floor. Hold a dumbbell in each hand with your palms facing your legs and your elbows on the floor bent at about 90 degrees so that the weights are in the air. This is the starting position.</p>

            <p>Press the dumbbell in your right hand toward the ceiling, straightening your elbow completely and keeping your palm facing your leg. Pause here for a second.</p>

            <p>Slowly bend your elbow and lower it back down to the floor. This is 1 rep. Repeat with your left hand, and continue alternating.</p> {% endcomment %}
        </div>

    </body>
</html>