<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Booty</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>
        <div class="type">
            <h1>Band</h1>
        </div>
        <div class="booty_workout">
            <h1>Ankle Jumping Jack</h1>
            <h2>60 secs</h2>
            <img src="static/image/booty/band/_ankleJumpingJacksSelf2_1_1.gif" alt="Ankle Jumping Jack">
        </div><br>
        <div class="booty_workout">
            <h1>Lateral Band Walk</h1>
            <h2>60 secs</h2>
            <img src="static/image/booty/band/LateralWalk.gif" alt="Lateral Band Walk">
        </div><br>
        <div class="booty_workout">
            <h1>Standing Glute Kickback</h1>
            <h2>20 each</h2>
            <img src="static/image/booty/band/_StandingGluteKickBackSelf2_1_4.gif" alt="Standing Glute Kickback">
        </div><br>
        <div class="booty_workout">
            <h1>Banded Walk</h1>
            <h2>30 secs</h2>
            <img src="static/image/booty/band/_PowerFrontAndBackWalkSelf2_1_5.gif" alt="Banded Walk">
        </div><br>
        <div class="booty_workout">
            <h1>Squat to Lateral Leg Lift</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/_SquatLateralLegLiftSelf2_1_3.gif" alt="Squat to Lateral Leg Lift">
        </div><br>
        <div class="booty_workout">
            <h1>Clamshell</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/_ClamShellSelf2_1_8.gif" alt="Clamshell">
        </div><br>
        <div class="booty_workout">
            <h1>Hip Bridge Pulse</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/_FroggersSelf2_1_7.gif" alt="Hip Bridge Pulse">
        </div><br>
        <div class="booty_workout">
            <h1>Hip Bridge With Alternating Leg Extension</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/_HipBridgeAlternatingLegExtensionSelf2_1_6.gif" alt="Hip Bridge With Alternating Leg Extension">
        </div><br>
        <div class="booty_workout">
            <h1>Fire Hydrant</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/_HydrantsSelf2_1_9.gif" alt="Fire Hydrant">
        </div><br>
        <div class="booty_workout">
            <h1>Donkey Kick</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/_KneelingGluteKickBackSelf2_1_10.gif" alt="Donkey Kick ">
        </div><br>
        <div class="booty_workout">
            <h1>Kneeling Leg Extension</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/Jeanette_Kneeling20Leg20Lift.gif" alt="Kneeling Leg Extension">
        </div><br>
        <div class="booty_workout">
            <h1>Rainbow Kick</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/Jeanette_Banded20Rainbow20Kicks.gif" alt="Rainbow Kick">
        </div><br>
        <div class="booty_workout">
            <h1>Supine Leg Extension</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/Jeanette_Supine20Leg20Extension.gif" alt="Supine Leg Extension">
        </div><br>
        <div class="booty_workout">
            <h1>Standing Side Kick</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/side-kicks.gif" alt="Standing Side Kick">   
        </div><br>
        <div class="booty_workout">
            <h1>Yoga Ball Training</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/.gif" alt="">
        </div><br>
        <div class="booty_workout">
            <h1>Kneeling and back-kicking</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/band/.gif" alt="Standing Side Kick">
        </div><br>
        
        <div class="booty_workout">
            <h1>Squat</h1>
            <h2>5 sets of 15</h2>
            <img src="static/image/booty/band/bandSquat.gif" alt="Standing Side Kick">
        </div><br>
        
        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>
    </body>
</html>