<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Booty</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="home_button">
            <a href="/">Home</a>
        </div>
        <div class="booty_workout">
            <h1>Ankle Jumping Jack</h1>
            <h2>60 secs</h2>
            <img src="static/image/booty/_ankleJumpingJacksSelf2_1_1.gif" alt="Ankle Jumping Jack">
            {% comment %} <p>Place a mini band loop around your ankles. Stand in a quarter-squat position (a shallow squat), with your feet about hip-width apart and your hands at your chest. Jump your feet out and in for 1 rep, keeping a bent knee position throughout and landing softly each time.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Lateral Band Walk</h1>
            <h2>60 secs</h2>
            <img src="static/image/booty/LateralWalk.gif" alt="Lateral Band Walk">
            {% comment %} <p>Place the band around your ankles. Stand in a quarter-squat position (a shallow squat), with your feet about hip-width apart, and your hands at your chest or on your hips. Take a step to the right with your right foot, so that your feet are wider than hip width. Follow with your left foot so that your feet are hip-width apart again.Take three steps to the right, and then three back to the left. That’s 1 rep.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Standing Glute Kickback</h1>
            <h2>20 each</h2>
            <img src="static/image/booty/_StandingGluteKickBackSelf2_1_4.gif" alt="Standing Glute Kickback">
            {% comment %} <p>Loop a mini band around your ankles and stand with your feet hip-width apart and your core engaged. With your hands at your chest or on your hips, shift all your weight into your left leg and place your right toes on the floor about an inch diagonally behind your left heel, so there is tension in the band. Squeeze your core and tuck your pelvis under as you kick your right leg back about 6 inches. Keep your knee straight. Return your right foot to tap the floor, keeping tension in the band, for 1 rep.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Banded Walk</h1>
            <h2>30 secs</h2>
            <img src="static/image/booty/_PowerFrontAndBackWalkSelf2_1_5.gif" alt="Banded Walk">
            {% comment %} <p>Loop a mini band around your ankles. Stand with your feet hip-width apart and hold your hands at your chest or place them on your hips. Bend your knees a few inches and hinge forward at the hips, keeping your abs engaged and glutes tight. Take one step forward. That’s 1 rep. Take 10 steps forward and immediately take 10 steps back. That’s 20 reps. (If you are doing the shorter workout option, complete for 45 seconds.)</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Squat to Lateral Leg Lift</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/_SquatLateralLegLiftSelf2_1_3.gif" alt="Squat to Lateral Leg Lift">
            {% comment %} <p>Loop a mini band just above your knees around your thighs Stand with your feet hip-width apart, with your hands at your chest or on your hips. Bend your knees and send your hips back to lower into a squat. Stand up and lift your right leg out to the right side, keeping your knee straight. Return your right leg to the floor. Squat again. This time when you stand up, lift your left leg to the left side, keeping your knee straight. Return your left leg to floor and immediately squat again. That’s 1 rep.Continue to squat and alternate sides to complete your reps.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Clamshell</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/_ClamShellSelf2_1_8.gif" alt="Clamshell">
            {% comment %} <p>Loop a mini band above your knees around both thighs. Lie on your right side and prop up your head with your right hand. Bend both knees and bend at the hip so your thighs are perpendicular to your hip. Keeping your feet together, elevate your feet to hip height, while your knees stay touching the floor. Keep your feet together as you lift your top knee (your left knee) toward the ceiling.Slowly lower your left knee down to return to your starting position. That’s 1 rep. Complete all your reps, then repeat on the other side.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Hip Bridge Pulse</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/_FroggersSelf2_1_7.gif" alt="Hip Bridge Pulse">
            {% comment %} <p>Loop a mini band just above your knees around both thighs. Lie faceup with your hands at your sides, knees bent, and your feet flat on floor hip-width apart. Squeeze your glutes and core as you lift your hips a few inches off the floor. From this lifted position, walk your feet together. Hold the bridge and push your knees away from each other, while your feet remain touching.Slowly return your knees together to complete 1 rep. Continue to pulse your knees together and apart without lowering your hips.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Hip Bridge With Alternating Leg Extension</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/_HipBridgeAlternatingLegExtensionSelf2_1_6.gif" alt="Hip Bridge With Alternating Leg Extension">
            {% comment %} <p>Loop a mini band just above your knees around both your thighs.Lie on your back with your hands at your sides, knees bent, and feet flat on floor hip-width apart. Squeeze your glutes and core and lift your hips a few inches off the floor. Extend your right leg until it’s straight, keeping your knees in line with one another. Return your right leg to your starting position. Gently lower your hips to the floor. Lift your hips again. This time, extend your left leg until it’s straight. Return your left leg to starting position and gently lower your hips back down to the floor. That’s 1 rep. Continue, alternating sides, to complete all your reps.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Fire Hydrant</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/_HydrantsSelf2_1_9.gif" alt="Fire Hydrant">
            {% comment %} <p>Loop a mini band just above your knees. Start in an all-fours position with your hands under your shoulders and knees under your hips. Without shifting your hips, lift your left knee out to the side. Keep your core engaged so your body does not rotate open with your knee lift. Slowly return to your starting position for 1 rep. Do all your reps on one side, then switch to the other side.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Donkey Kick</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/_KneelingGluteKickBackSelf2_1_10.gif" alt="Donkey Kick ">
            {% comment %} <p>Loop a mini band around the bottom of your left foot and right ankle. Start in an all-fours position with your knees under your hips, wrists under your shoulders, and your core engaged. Keeping your knee bent and left foot flexed, kick your left leg up toward the ceiling. Hold for 2 seconds at the top. Return your left knee to floor for 1 rep. Do all your reps on one side, the switch to the other.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Kneeling Leg Extension</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/Jeanette_Kneeling20Leg20Lift.gif" alt="Kneeling Leg Extension">
            {% comment %} <p>Loop a resistance band around your thighs. Start in an all-fours position with your wrists under your shoulders and knees under your hips. Engage your core and roll to put all of your weight in your right hand and right knee, as you straighten your left leg, keeping your left foot on the floor (this is often called a modified side plank position). You may find it helpful to place your right knee on top of the resistance band to hold it in place. This is your starting position. From this position, engage your core and lift your straight left leg up toward the ceiling. You can lift as high as your flexibility allows, but stop when your leg is about even with the line of your hip. Slowly lower your leg and tap your left foot to the floor before immediately lifting it again. Do all of the reps on one side, then switch to the other side.</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Rainbow Kick</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/Jeanette_Banded20Rainbow20Kicks.gif" alt="Rainbow Kick">
            {% comment %} <p>Start in an all-fours position with your knees directly under your hips, wrists directly under your shoulders, and core engaged. Loop a resistance band around your right foot and hold one end of the resistance band in each of your hands. Extend your right foot straight behind you so just your toes rest on the floor. This is your starting position. Lift your right foot up and over toward the left, making an arch, and bring it down to tap the floor on the outside of your left foot. Immediately lift it again, reversing the arch and tap the floor where you started. Each tap counts as 1 rep. Do all the reps on one side, then repeat on the othe</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Supine Leg Extension</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/Jeanette_Supine20Leg20Extension.gif" alt="Supine Leg Extension">
            {% comment %} <p>Lie faceup on the floor, loop a resistance band around your left foot and then hold each end of the resistance band in each of your hands. Prop yourself up on your elbows, so that you feel your core engage. This is your starting position. With the band still looped around your left foot, bring your left knee up and toward your chest so that your shin is parallel to the floor. Pause at the top, then push your foot away from you to straighten your leg and return to your starting position. Keep your core engaged throughout. Do all of the reps on one side, then switch to the other side..</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Standing Side Kick</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/.gif" alt="Standing Side Kick">
            {% comment %} <p>Lie faceup on the floor, loop a resistance band around your left foot and then hold each end of the resistance band in each of your hands. Prop yourself up on your elbows, so that you feel your core engage. This is your starting position. With the band still looped around your left foot, bring your left knee up and toward your chest so that your shin is parallel to the floor. Pause at the top, then push your foot away from you to straighten your leg and return to your starting position. Keep your core engaged throughout. Do all of the reps on one side, then switch to the other side..</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Yoga Ball Training</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/.gif" alt="">
            {% comment %} <p>Lie faceup on the floor, loop a resistance band around your left foot and then hold each end of the resistance band in each of your hands. Prop yourself up on your elbows, so that you feel your core engage. This is your starting position. With the band still looped around your left foot, bring your left knee up and toward your chest so that your shin is parallel to the floor. Pause at the top, then push your foot away from you to straighten your leg and return to your starting position. Keep your core engaged throughout. Do all of the reps on one side, then switch to the other side..</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Kneeling and back-kicking</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/.gif" alt="Standing Side Kick">
            {% comment %} <p>Lie faceup on the floor, loop a resistance band around your left foot and then hold each end of the resistance band in each of your hands. Prop yourself up on your elbows, so that you feel your core engage. This is your starting position. With the band still looped around your left foot, bring your left knee up and toward your chest so that your shin is parallel to the floor. Pause at the top, then push your foot away from you to straighten your leg and return to your starting position. Keep your core engaged throughout. Do all of the reps on one side, then switch to the other side..</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Supine</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/.gif" alt="Standing Side Kick">
            {% comment %} <p>Lie faceup on the floor, loop a resistance band around your left foot and then hold each end of the resistance band in each of your hands. Prop yourself up on your elbows, so that you feel your core engage. This is your starting position. With the band still looped around your left foot, bring your left knee up and toward your chest so that your shin is parallel to the floor. Pause at the top, then push your foot away from you to straighten your leg and return to your starting position. Keep your core engaged throughout. Do all of the reps on one side, then switch to the other side..</p> {% endcomment %}
        </div>
        <div class="booty_workout">
            <h1>Squat</h1>
            <h2>20 each side</h2>
            <img src="static/image/booty/.gif" alt="Standing Side Kick">
            {% comment %} <p>Lie faceup on the floor, loop a resistance band around your left foot and then hold each end of the resistance band in each of your hands. Prop yourself up on your elbows, so that you feel your core engage. This is your starting position. With the band still looped around your left foot, bring your left knee up and toward your chest so that your shin is parallel to the floor. Pause at the top, then push your foot away from you to straighten your leg and return to your starting position. Keep your core engaged throughout. Do all of the reps on one side, then switch to the other side..</p> {% endcomment %}
        </div>
        

    </body>
</html>