<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chest</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <a href="/">Home</a>
        <div class="chest_workout">
            <h1>Chest Press Alternating Arms</h1>
            <h2>3 sets of 10 to 15 reps on each side</h2>
            <h2> lbs</h2>
            <img src="static/image/chest/chestpress.gif" alt="chest press">
            <p>Tip: Lie faceup with your knees bent and feet flat on the floor. Hold a dumbbell in each hand with your palms facing your legs and your elbows on the floor bent at about 90 degrees so that the weights are in the air. This is the starting position.</p>

            <p>Press the dumbbell in your right hand toward the ceiling, straightening your elbow completely and keeping your palm facing your leg. Pause here for a second.</p>

            <p>Slowly bend your elbow and lower it back down to the floor. This is 1 rep. Repeat with your left hand, and continue alternating.</p>
        </div>

        <div class="chest_workout">
            <h1>Shoulder Press Alternating Arms</h1>
            <h2>3 sets of 10 to 15 reps on each side</h2>
            <h2> lbs</h2>
            <img src="static/image/chest/shoulderPressAlt.gif" alt="shoulder press">
            <h2>Tip: </h2>
            <p>Stand with your feet about hip-width apart. Hold a dumbbell in each hand and rest them at shoulder height, with your palms facing each other and your elbows bent. This is the starting position.</p>
            <p>Press one dumbbell overhead, straightening your elbow completely. Make sure to keep your core engaged and hips tucked under to avoid arching your lower back as you lift your arm.</p>
            <p>Slowly bend your elbow to lower the weight back down to the starting position. This is 1 rep. Repeat on the other side.</p>
        </div>
        
        <div class="chest_workout">
            <h1>Close Grip Chest Press</h1>
            <h2>3 sets of 10 to 15 reps on each side</h2>
            <h2> lbs</h2>
            <img src="static/image/chest/closeGripChestPress.gif" alt="shoulder press">
            <h2>Tip: </h2>
            <p>Lie faceup with your knees bent and feet flat on the floor. Hold a weight in each hand with your palms facing each other, arms on the ground by your sides, and elbows touching the ground and bent, so that your forearms and the dumbbells are in the air. This is the starting position.</p>
            <p>Press the weights toward the ceiling, straightening your elbows completely and keeping your palms facing each other. Pause here for a second.</p>
            <p>Slowly bend your elbows and lower them back down to the floor. This is 1 rep.</p>
        </div>
         <div class="chest_workout">
            <h1>Plank Tap</h1>
            <h2>30 secs</h2>
            <h2> secs</h2>
            <img src="static/image/chest/plankTop.gif" alt="plank top">
            <h2>Tip: </h2>
            <p>Start in a high plank position with your palms flat on the floor, hands shoulder-width apart, shoulders stacked directly above your wrists, legs extended behind you, and your core and glutes engaged.</p>
            <p>Tap your right hand to your left shoulder while engaging your core and glutes to keep your hips as still as possible. Try not to rock at your hips.</p>
            <p>Do the same thing with your left hand to right shoulder.</p>
        </div>
        <div class="chest_workout">
            <h1>Chest Flyes</h1>
            <h2>3 sets of 15</h2>
            {% comment %} <h2> secs</h2>
            <img src="static/image/chest/plankTop.gif" alt="plank top">
            <h2>Tip: </h2>
            <p>Start in a high plank position with your palms flat on the floor, hands shoulder-width apart, shoulders stacked directly above your wrists, legs extended behind you, and your core and glutes engaged.</p>
            <p>Tap your right hand to your left shoulder while engaging your core and glutes to keep your hips as still as possible. Try not to rock at your hips.</p>
            <p>Do the same thing with your left hand to right shoulder.</p> {% endcomment %}
        </div>
        <div class="chest_workout">
            <h1>Hang Snatch</h1>
            <h2>3 sets of 15</h2>
            {% comment %} <h2> secs</h2>
            <img src="static/image/chest/plankTop.gif" alt="plank top">
            <h2>Tip: </h2>
            <p>Start in a high plank position with your palms flat on the floor, hands shoulder-width apart, shoulders stacked directly above your wrists, legs extended behind you, and your core and glutes engaged.</p>
            <p>Tap your right hand to your left shoulder while engaging your core and glutes to keep your hips as still as possible. Try not to rock at your hips.</p>
            <p>Do the same thing with your left hand to right shoulder.</p> {% endcomment %}
        </div>
    </body>
</html>