<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chest</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>
        <div class="type">
            <h1>Dumbbell</h1>
        </div>
        <div class="chest_workout">
            <h1>Chest Press Alternating Arms</h1>
            <h2>4 sets of 14 reps on each side</h2>
            <h2>5 lbs</h2>
            <img src="static/image/chest/db/chestpress.gif" alt="chest press">
        </div><br>
        <div class="chest_workout">
            <h1>Shoulder Press Alternating Arms</h1>
            <h2>4 sets of 14 reps on each side</h2>
            <h2>5 lbs</h2>
            <img src="static/image/chest/db/shoulderPressAlt.gif" alt="shoulder press">
        </div><br>
        <div class="chest_workout">
            <h1>Close Grip Chest Press</h1>
            <h2>4 sets of 14 reps on each side</h2>
            <h2>5 lbs</h2>
            <img src="static/image/chest/db/closeGripChestPress.gif" alt="shoulder press">
            <h2>Tip: </h2>
        </div><br>
        <div class="chest_workout">
            <h1>Chest Fly</h1>
            <h2>4 sets of 14</h2>
            <h2>5 lbs</h2>
            <img src="static/image/chest/db/dbFly.gif" alt="plank top">
        </div><br>
        <div class="chest_workout">
            <h1>Hang Snatch</h1>
            <h2>3 sets of 15</h2>
            <h2>lbs</h2>
            <img src="static/image/chest/db/dbSnatch.gif" alt="Hang Snatch">
        </div><br>
        <div class="type">
            <h1>Machine</h1>
        </div>
        <div class="chest_workout">
            <h1>Bench Fly</h1>
            <h2>3 sets of 14</h2>
            <h2>25 lbs</h2>
            <img src="static/image/chest/machine/PECTORAL-PRESS.gif " alt="Hang Snatch">
        </div><br>
        <div class="type">
            <h1>None</h1>
        </div>
        <div class="chest_workout">
            <h1>Plank Tap</h1>
            <h2>45 secs</h2>
            <h2>3 reps</h2>
            <img src="static/image/chest/other/plankTop.gif" alt="plank top">
        </div><br>
        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>   
    </body>
</html>