<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
    </head>
    <body>
        <div class="workout">
            <h1>Work Outs</h1>
            <div class="exercise">
                <a href="/abs">Abs</a>
                <a href="/back">Back</a>
                <a href="/bi">Bicep</a>
                <a href="/booty">Booty</a>
                <a href="/chest">Chest</a>
                <a href="/legs">Legs</a>
                <a href="/shoulder">Shoulders</a>
                <a href="/stretch">Stretch</a>
                <a href="/tri">Tricep</a>
                <a href="/yoga">Yoga</a>
            </div>
        </div>
        <div class="check">
            <label for="abs">Abs</label>
            <input type="checkbox" id="abs"><br>  
            <label for="back">Back</label>
            <input type="checkbox" id="back"><br>
            <label for="bi">Bicep</label>
            <input type="checkbox" id="bi"><br>
            <label for="booty">Booty</label>
            <input type="checkbox" id="booty"><br>
            <label for="chest">Chest</label>
            <input type="checkbox" id="abs"><br>
            <label for="legs">Legs</label>
            <input type="checkbox" id="legs"><br>
            <label for="shoulder">Shoulders</label>
            <input type="checkbox" id="shoulder"><br>
            <label for="stretch">Stretches</label>
            <input type="checkbox" id="stretch"><br>
            <label for="tri">Tricep</label>
            <input type="checkbox" id="stretch"><br>
            <label for="yoga">Yoga</label>
            <input type="checkbox" id="yoga"><br>
        </div>
    </body> 
</html>