<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>
        <div class="type">
            <h1>Dumbbell</h1>
        </div>
        <div class="bod">
            <div class="shoulder_workout">
                <h1>30/30 Push press</h1>
                <h2>3 sets of 14 reps</h2>
                <h2>15  lbs</h2>
                <img src="static/image/shoulder/db/pushpress.jpg" alt="push press">
            </div><br>
            <div class="shoulder_workout">
                <h1>Lateral Raise</h1>
                <h2>3 sets of 14</h2>
                <h2>5 lbs</h2>
                <img src="static/image/shoulder/db/lateralraise.jpg" alt="lateral raise">
            </div><br>
            <div class="shoulder_workout">
                <h1>Front Raise</h1>
                <h2>3 sets of 12</h2>
                <h2> lbs</h2>
                <img src="static/image/shoulder/db/frontraise.jpg" alt="front raise">
            </div><br>
            <div class="shoulder_workout">
                <h1>Reverse Fly</h1>
                <h2>3 sets of 12</h2>
                <h2> lbs</h2>
                <img src="static/image/shoulder/db/reversefly.jpg" alt="reverse fly">
            </div><br>
            <div class="shoulder_workout">
                <h1>Pullover</h1>
                <h2>3 sets of 12</h2>
                <h2> lbs</h2>
                <img src="static/image/shoulder/db/Dumbbell-Pullover.gif" alt="Pullover">
            </div><br>
            <div class="shoulder_workout">
                <h1>Shrugs</h1>
                <h2>3 sets of 12</h2>
                <h2> lbs</h2>
                <img src="static/image/shoulder/db/Dumbbell-Shrugs.gif" alt="Shrugs">
            </div><br>
            <div class="shoulder_workout">
                <h1>Seated DB Shoulder Press</h1>
                <h2>3 sets of 12</h2>
                <h2> lbs</h2>
                <img src="static/image/shoulder/db/seatedDBShoulderPress.gif" alt="Seated DB Shoulder Press">
            </div><br>
        </div>
        <div class="type">
            <h1>BarBell</h1>
        </div>
        <div class="shoulder_workout">
                <h1>Upright Row</h1>
                <h2>3 sets of 12</h2>
                <h2> lbs</h2>
                <img src="static/image/shoulder/barbell/UprightRow.gif" alt="Upright Row">
            </div><br>
        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>
    </body>
</html>