<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
    
        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>

        <div class="type">
            <h1>None</h1>
        </div>
        <div class="yoga_workout">
            <h1>Chair Pose</h1>
            <p>Start in Mountain Pose. As you inhale, raise your arms, spread your fingers, and reach up through your fingertips. As you exhale, sit back and down as if sitting into a chair. Shift your weight toward the heels and lengthen up through the spine. As you inhale, lift and lengthen through your arms. As you exhale, sit deeper into the pose.</p>
            <img src="static/image/yoga/ChairPose_0.gif" alt="Chair Pose">
        </div><br>
        <div class="yoga_workout">
            <h1>Tree Pose</h1>
            <img src="static/image/yoga/TreePose.gif" alt="Tree Pose">
        </div><br>
        <div class="yoga_workout">
            <h1>Standing Forward Bend</h1>
            <img src="static/image/yoga/StandForwardBend.gif" alt="Standing Forward Bend">
        </div><br>
        <div class="yoga_workout">
            <h1>Bound Angle Pose</h1>
            <img src="static/image/yoga/gmgcbkyssvaetasg6ux3.gif" alt="Bound Angle Pose">
        </div><br>
        <div class="yoga_workout">
            <h1>Seated Forward Bend</h1>
            <img src="static/image/yoga/wqwoywcreesk3jvgeizf.gif" alt="Seated Forward Bend">
        </div><br>
        <div class="yoga_workout">
            <h1>Side Plank Pose</h1>
            <img src="static/image/yoga/SidePlankPose.gif" alt="SidePlankPose">
        </div><br>
        <div class="yoga_workout">
            <h1>Cat Cow Pose</h1>
            <img src="static/image/yoga/CatCowPose.gif" alt="Cat-Cow Pose">
        </div><br>
        <div class="yoga_workout">
            <h1>Triangle Pose</h1>
            <img src="static/image/yoga/TrianglePose.gif" alt="Triangle Pose">
        </div><br>

        <div class="home_button">
            <a href="/">Back to Menu</a>
        </div>
    </body>
</html>