* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Verdana;   
}
@media only screen and ( max-width: 576px ) {
    .footer, .lg-1 {
        display: none;
    }
}
@media only screen and ( min-width: 768px ) {
    .sm-4, .lg-1 {
        display: none;
    }
}
@media only screen and ( min-width: 992px) {
    .lg-1 {
        display: block;
    }
    .sm-4, .med-2 {
        display: none;
    }
}
body {
    background-color: rgb(252, 252, 252);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 20px;
}

/* HEADER */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    padding-left: 20px;
}
header * {
    display: flex;
    padding-top: 5px;
}
header li {
    margin: 20px;
}
header li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header h1{
    font-size:19px;
    padding-top: 5px;
}
.menu{
    padding-left: 40%;
    /* padding-top: 10px; */
}

/* HEADER */
.middle{
    background: linear-gradient(to top, rgb(137, 196, 247) 10%, rgba(247, 100, 230, 0.4) 90%) no-repeat;
}


footer{
    height: 160px;
    background: white;
}
.bottom{
    padding-top: 20px;
}
.parallax {
    /* The image used */
    background-image: url("static/img_parallax.jpg");
    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* education */
.lyon, .mtsu,  .dojo{
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .lyon img, .mtsu img, .dojo img{    
    width: 100%;
    height: 300px;
  }

.lyon .btn, .mtsu .btn, .dojo .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.lyon .btn:hover , .mtsu .btn:hover, .dojo .btn:hover{
    background-color: black;
}
.lyon, .mtsu, .dojo {
    position: relative;
    width: 100%;
    max-width: 100%;
}
/* education */
.port img {
    width: 300px;
    height:300px;
}


/* contact form */


@media only screen and (max-width: 768px){
    .contact, .contact_body {
        width:100%;
    }
}
    .btn.btn-block {
        border-radius: 10px;
        background-color: #9b71a5;
        color: rgb(235, 235, 235)
    }
    .contact{
        border-radius: 3px;
        /* max-width: 40%; */
        padding-top: 20px;
        margin-left: 35%;
    
    }
    .contact_body{
        width: 400px;
        border: 1px solid #400485;

    }
    .contact_body form{
        padding-top: 30px;
        /* width: 90%; */
    }

/* / contact form */
