<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/e7d38be2a0.js" crossorigin="anonymous"></script>

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none;}
.parallax {
    background-image: url("static/img/img_parallax.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
 .parallax2 {
    background-image: url("static/img/workpara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .parallax3 {
    background-image: url("static/img/edupara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .parallax4 {
    background-image: url("static/img/contactpara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

</style>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"> 
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-center" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item-center  w3-button w3-padding-large ">Abby Kahler</a>
    <a href="#portfolio" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Portfolio</a>
    <a href="#work" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Work</a>
    <a href="#education" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Education</a>
    <a href="#contact" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Contact</a>
    </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/" class="w3-bar-item-center  w3-button w3-padding-large ">Abby Kahler</a>
  <a href="#portfolio" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Portfolio</a>
  <a href="#work" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Work</a>
  <a href="#education" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Education</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
</div><br><br>

<!-- Page content -->
{% comment %} intro page {% endcomment %}
<div class="w3-content w3-black" style="max-width:2000px;">
  <div class="w3-center">
    <h1>Hi! My name is Abby and welcome to my page.</h1>
    <h1>I'm a computer programmer in beautiful Los Angeles.</h1>
    </div>
  <div class="para1">
    <div class="parallax"></div>
  </div>
</div>

{% comment %} Portfolio {% endcomment %}
<div class="w3-black" id="portfolio">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h1 class="w3-wide w3-center">A few of my projects</h1>
      <h2 class="w3-opacity w3-center"><i>More coming soon!</i></h2>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/static/img/ninjaman.png" alt="ninjaman" style="width:100%">
          <div class="w3-container w3-black w3-center">
            <a href="/ninjaman">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">NinjaMan</button>
            </a>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom w3-center">
          <img src="/static/img/airplane.png" alt="airplane" style="width:100%">
          <div class="w3-container w3-black">
            <a href="/airplane">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">Airplane</button>
            </a>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom w3-center">
          <img src="/static/img/trip_menu.png" alt="trip tracker" style="width:100%">
          <div class="w3-container w3-black">            
            <a href="/trip">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">Trip Tracker</button>
            </a>
          </div>
        </div>
      </div>
        <h1 class="w3-wide w3-center">Languages</h1>
          <div class="icon w3-center w3-padding">
          <i class="fab fa-python w3-jumbo "></i>
          <i class="fab fa-react w3-jumbo"></i>
          <i class="fab fa-java w3-jumbo"></i>
          <i class="fab fa-js w3-jumbo"></i>
          <i class="fab fa-html5 w3-jumbo"></i>
          <i class="fab fa-css3 w3-jumbo"></i>
          <i class="fab fa-swift w3-jumbo"></i>
          </div>

    </div>
  </div>









</div>

  
{% comment %} Work {% endcomment %}
<div class="para2">
    <div class="parallax2"></div>
  </div>
{% comment %} Education {% endcomment %}
<div class="para3">
    <div class="parallax3"></div>
  </div>



{% comment %} <h1>More content goes here</h1> {% endcomment %}
  {% comment %} <!-- The Band Section -->
 <!--  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE BAND</h2>
    <p class="w3-opacity"><i>We love music</i></p>
    <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div> -->

  <!-- The Tour Section -->
<!--   <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">TOUR DATES</h2>
      <p class="w3-opacity w3-center"><i>Remember to book your tickets!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">November <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>New York</b></p>
            <p class="w3-opacity">Fri 27 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Paris</b></p>
            <p class="w3-opacity">Sat 28 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/sanfran.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>San Francisco</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Ticket Modal -->
  <!-- <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div> --> {% endcomment %}
<div class="para4">
    <div class="parallax4"></div>
  </div>
  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:2000px; background: linear-gradient(to top, rgb(137, 196, 247) 10%, rgb(223, 137, 182) 90%) no-repeat" id="contact">
    <div class="contact" style="height:700px;"><br><br><br><br><br><br><br><br><br>
        <h2 class="w3-wide w3-center">Thanks for checking out my page!</h2>
        <h2 class="w3-wide w3-center">More projects coming soon!!</h2>
        <div class="w3-row w3-padding-32 w3-center">
          <div class="w3-col w3-large w3-margin-bottom">
            <i class="fa fa-envelope" style="width:30px"> </i> Email: abbykahler1@gmail.com<br>
            
    </div>
      </div>
      
 <!--      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div> -->
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<!-- <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">
 -->
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center  w3-white w3-xlarge">
  <div class="social">
  <a href="https://github.com/abbykahler">
  <i class="fa fa-github w3-hover-opacity w3-xxlarge"></i>
  <a>
  <a href="https://www.linkedin.com/in/abby-kahler-7ba25016/">
  <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge"></i>
  <a>
  <a href="https://www.facebook.com/Abbykahler10">
  <i class="fa fa-facebook-official w3-hover-opacity w3-xxlarge"></i>
  </a>
  <a href="https://www.instagram.com/foleyartist.brown/?hl=en">
  <i class="fa fa-instagram w3-hover-opacity w3-xxlarge"></i>
  </a>
  </div>
  <h4>©2021 Abby Kahler</h4>
      
<!--   <i class="fa fa-linkedin w3-hover-opacity"></i>
 --></footer>

{% comment %} <script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script> {% endcomment %}

</body>
</html>


