<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none;}

</style>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"> 
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-center" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/tour" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">TOUR DATES</a>
    <a href="/about" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">ABOUT</a>
    <a href="/press" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">PRESS</a>
    <a href="/contact" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <a href="/images" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">IMAGES</a>
    <a href="/snare" class="w3-bar-item-center w3-button w3-padding-large w3-hide-small">SIGNATURE SNARE</a>
    {% comment %} <a href="#merch" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MERCH</a> {% endcomment %}
    <!--     <div class="w3-dropdown-hover w3-hide-small">     
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-"><i class="fa fa-search"></i></a>--> 
    </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR DATES</a>
  <a href="/about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT</a>
  <a href="/press" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PRESS</a>
  <a href="/contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="/images" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">IMAGES</a>
  <a href="/snare" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SIGNATURE SNARE</a>
  {% comment %} <a href="/merch" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a> {% endcomment %}
</div><br><br><br>




<div class="w3-container  w3-center w3-padding-32 w3-black" style="max-width:900px: background-color:black">
    <div class="track">
        <h2 class="w3-wide">Trip Tracker</h2>
        <p class="w3-justify">Trip Tracker is a simple app that can keep track of your next trip.  The landing page has a registration and login with valdiations to make sure the user can access their account.</p>
        <div class="w3-row w3-padding-32">
            <div class="trip">
                <img src="/static/img/log2.png" class="w3-round w3-margin-bottom" alt="log in" style="width:80%">
            </div>
        </div>
    </div>
    <div class="track">
        <p class="w3-justify">The home page will display the users itinerary after the trip is created.</p>
        <div class="w3-row w3-padding-32">
            <div class="trip">
                <img src="/static/img/trip_home1.png" class="w3-round w3-margin-bottom" alt="home page" style="width:80%">
            </div>
    </div>
    <div class="track">
        <p class="w3-justify">The create page allows the user to customize their trip.</p>
        <div class="w3-row w3-padding-32">
            <div class="trip">
                <img src="/static/img/create.png" class="w3-round w3-margin-bottom" alt="create" style="width:80%">
            </div>
    </div>
    <div class="track">
        <p class="w3-justify">The travel plan is now updated on the home screen and the trip can be removed or edited.</p>
        <div class="w3-row w3-padding-32">
            <div class="trip">
                <img src="/static/img/trip_menu.png" class="w3-round w3-margin-bottom" alt="home" style="width:80%">
            </div>
    </div>
    <div class="track">
        <p class="w3-justify">All the details of the trip can be viewed on the about page.</p>
        <div class="w3-row w3-padding-32">
            <div class="trip">
                <img src="/static/img/view_trip.png" class="w3-round w3-margin-bottom" alt="view" style="width:80%">
            </div>
    </div>
    </div>
</div>





<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center  w3-white w3-xlarge">
    <div class="social">
        <a href="https://github.com/abbykahler">
        <i class="fa fa-github w3-hover-opacity w3-xxlarge"></i>
        <a>
        <a href="https://www.linkedin.com/in/abby-kahler-7ba25016/">
        <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge"></i>
        <a>
        <a href="https://www.facebook.com/Abbykahler10">
        <i class="fa fa-facebook-official w3-hover-opacity w3-xxlarge"></i>
        </a>
        <a href="https://www.instagram.com/foleyartist.brown/?hl=en">
        <i class="fa fa-instagram w3-hover-opacity w3-xxlarge"></i>
        </a>
    </div>
    <h4>©2021 Abby Kahler</h4>      
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>


